<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<nav class="navbar navbar-default">
  <div class="container whoNavContainer">
    <div class="row">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" class="myNavbar">
        <ul class="nav navbar">
          <li><a href="./QuienSoy#quien">Quien</a></li>
          <li><a href="/TP_LAV4_2017/QuienSoy#que">Ques es</a></li>
          <li><a href="./QuienSoy#donde">Donde</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container whoContainer">
  <div class="row">
    <div class="col-md-7 col-lg-7">
      <img src="./assets/imagenes/quiensoy.jpg" alt="Bird">
    </div>
    <div class="col-md-5 col-lg-5">
      <h3>Quién Soy?</h3>
      <h3>Soy Un alumno de la UTN FRA</h3>
      <h2>Esto es un trabajo práctico</h2>
      <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias
        didácticas
        y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la
        forma
        de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de
        evaluación
        son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación
        formativa
        el educador busca información en el alumno para lograr comprender cómo se está
        produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una
        muestra
        del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema.
        Según
        Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del
        aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
      <a href="#" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-file"></span> Descargar PDF
      </a>
    </div>
  </div>
</div>



<!-- Second Container (Grid) -->
<div class="container whereWork">
  <h3 class="titleWho">Dónde Funciona?</h3>
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
    <div class="col-md-4 col-lg-4">
      <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
    <div class="col-md-4 col-lg-4">
      <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado
        en el comportamiento del usuario y en la funcionalidad.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
    <div class="col-md-4 col-lg-4">
      <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-left">
  <p>Modificado por <a href="https://www.gabriel.com.ar">www.gabriel.com.ar</a></p>
</footer>