<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container listPlayerContainer">
    <div class="row">
      <ul class="nav nav-pills">
        <li><a routerLink="/Principal">Ir a inicio</a></li>
        <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
        <li><a (click)="TraerGanadores()">Los ganadores</a></li>
        <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
      </ul>
  </div>
</div>

<div class="container listResultContainer">
  <div class="row">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>usuario</th>
          <th>email</th>
          <th>edad</th>
          <th>sexo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of listado" >
          <td>{{jugador.nombre}} </td>
          <td>{{jugador.email}} </td> 
          <td>{{jugador.edad}} </td> 
          <td>{{jugador.sexo}} </td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>