.card {
    border-radius: 10px; /* 5px rounded corners */
    width: 90%;
    height: 30%;
    margin: 50px;
    float: left;
    background-color: rgb(167, 101, 248);
    text-align: left;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.container {
    padding: 2px 16px;
}

.menuCard{
    background-color: rgb(253, 166, 166);
  }

.buttonMenuGame{
  width: 60%;
  margin-top: 20px;
  color: white;
  font-size: large;
  font-weight: bold;
}

.icons{
  margin-right: 20px;
}

.divIcons{
  background-color: white;
  width: 20%;
}

.brain{
  width: 260px;
  height: 240px;
}

.rps{
  width: 260px;
  height: 240px;
}