<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container guessNumber">
  <h1 class="title">
    {{nuevoJuego.nombre}}!
  </h1>
  
  <label class="labelTitle">Ingrese numero: </label> <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese numero"
    name="numeroIngresado" type="text" class="form-control inputGuess" />

  <div [hidden]="ocultarVerificar"><button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()"
      class="btn btn-success btn-lg checkNumberButton">Verificar</button></div>

  <div><button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()" class="btn btn-primary btn-lg newNumberButton">Nuevo número
      secreto</button></div>

  <h2>
    <p class="waiting" *ngIf="nuevoJuego.numeroSecreto!=0"><i class="fa fa-spinner fa-spin"></i> Esperando que ingrese un número</p>
  </h2>

  <h3 class="noWinYet" [hidden]="!nuevoJuego.gano">Usted adivino el número</h3>
  <h3 class="noWinYet" [hidden]="nuevoJuego.gano">Usted aún no gano </h3>
  <div class="messages">{{Mensajes}}</div>
</div>
