<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container listResultContainer">
  <div class="row">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Juego</th>
            <th>Jugador</th>
            <th>Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let juego of listado">
            <td>{{juego.nombre}} </td>
            <td>{{juego.jugador}} </td> 
            <td *ngIf="juego.gano">Gano </td>   
            <td *ngIf="!juego.gano">Perdio</td>     
          </tr>
        
        </tbody>
      </table>
  </div>
</div>