<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container listResultContainer">
  <div class="row">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Jugador</th>
            <th>Juego</th>
            <th>Victorias</th>
            <th>Derrotas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rtdo of listado">
            <td>{{rtdo.usuario}} </td> 
            <td>{{rtdo.juego}} </td>
            <td>{{rtdo.victorias}} </td>   
            <td>{{rtdo.derrotas}} </td>   
          </tr>        
        </tbody>
      </table>
  </div>
</div>